// copy this file to config.js, and change the values below to real ones

module.exports = {

  development: {
    port: 2000,
    visible: true,

    // password to admin app (snapshot, streamer)
    admin: {
      host: "http://localhost:4000",
      password: "admin"
    },

    streaming: [
      "http://localhost:3000"
    ],

    log: {
      join: true,
      info: true,
      debug: false
    },

    mongodb: {
      port: 27017,
      host: "localhost",
      database: "isitchristmas"
    }
  },

  production: {
    port: 80,
    visible: false,

    admin: {
      host: "http://admin.example.com",
      password: "admin" // change this in production
    },

    streaming: [
      "http://sockets.example.com"
    ],

    log: {
      join: false,
      info: false,
      debug: false
    },

    mongodb: {
      port: 27017,
      host: "",
      database: "",

      // will use authentication if username and password are non-blank
      username: "",
      password: ""
    }
  },
}