<!--

  == Open up the developer console. ==

  Built by Eric Mill:
    eric@konklone.com   https://konklone.com   twitter.com/konklone

  With majestic assistance from Micah Rich (@micahbrich) and Brandon Jones (@btj).

  Best with a mouse.

  Bug reports and stuff:
    github.com/isitchristmas/web/issues

  Data from the past:
    github.com/isitchristmas/data

-->

<!doctype html>
<html lang="en">
<head>
  <link rel="authors" href="/humans.txt" />
  <link rel="warrant canary" href="/canary.txt" />
  <meta charset="utf-8" />
  <title>Is it Christmas?</title>
  <link rel="alternate" title="Is It Christmas?" href="/rss.xml" type="application/rss+xml" />
  <meta property="twitter:account_id" content="5232171" />

  <style type="text/css">
    html, body {height: 100%;}
    body {text-align: center;}

    a#answer {
      display: inline-block;
      margin-top: 200px;
      font-weight: bold;
      font-size: 120pt;
      font-family: Arial, sans-serif;
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>
  <a id="answer" title="yes">
    <noscript>YES</noscript>
  </a>
</body>
</html>
